<div class="order col-md-12">
    <% @order.order_items.each do |item| %>
      <div class="order_item col-md-12">
        <div class="col-md-3"><%= image_tag "products/#{item.product.image_url}" %></div>
        <div class="title col-md-4"><%= item.product.title %></div>
        <div class="col-md-1"><%= link_to "Quantity: #{item.quantity}", edit_order_item_path(item) %></div>
        <div class="col-md-1"><%= print_stock(item.product.stock, item.quantity) %></div>
        <div class="col-md-1"><%= print_price item.subtotal %></div>
        <div class="col-md-2"><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
</div>



<div class="shipping">
    <div>
      <p><%= link_to "Empty Cart", @order, data: { confirm: 'Are you sure?' }, method: :delete %> | 
      <%= link_to "Continue Shopping", products_url %></p>
  </div>
    <%= form_for @order do |f| %>
      <p class="shipping-title">Shipping to: </p>
      <p><%= f.select :address_id, current_user.addresses.collect{|a| [a.to_s, a.id]} %></br>
        <%= link_to "Add an address", "/addresses/new" %></br>
        <%= link_to "Edit address list", "/addresses" %></p>
      <p id="order-total">Order Total: <%= print_price @order.total %></p>
      <div><%= f.submit "Checkout" %></div>
      
    <% end %>
</div>

