<div class="col-md-1"></div>
<div class="col-md-10">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="product"><%= link_to(image_tag("products/#{product.image_url}"), product_path(product)) %>
      <div class="product-title"><%= product.title %></div></div>
      <!-- <span class="product_title"><%= link_to product.title, product_path(product) %></span><%= product.description %>
      <%= print_price(product.price) %>
      <%= print_stock(product.stock) %>
      <%= button_to "Add to Cart", order_items_path(product_id: product.id) %> -->
    </div>
  <% end %>
</div>
<div class="col-md-1"></div>


