<!DOCTYPE html>
<html>
<head>
  <title>Noble Denim - Products: <%= controller.action_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Important Owl stylesheet -->
  <link rel="stylesheet" href="assets/owl.carousel.css">
   
  <!-- Default Theme -->
  <link rel="stylesheet" href="assets/owl.theme.css">
  
  <!-- Include js plugin -->
  <script src="assets/owl.carousel.js"></script>
  
  <!-- implement google fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arvo">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
    
  <p style="color: green" id="notice"><%= flash[:notice] %></p>
    
  <div id="main" class="container-fluid">
    <%= yield %>
  </div>
  
  </div>
</body>
<%= render 'layouts/footer' %>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</html>
